.card {
  display: grid;
  grid-template-columns: 8fr auto 3fr;
  place-items: center;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 80%;
  padding: 30px 30px;
  margin: 14px 200px 20px 150px;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  color: var(--color-black-two);
  font-size: 14px;
}

section {
  width: 100%;
}

.category {
  opacity: 0.5;
  font-size: 12px;
  font-weight: bold;
}

.title {
  margin: 2px 0 1px 0;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  font-family: var(--font-family-roboto-slab);
}

.author {
  font-weight: 300;
  color: #4386bf;
  font-family: var(--font-family-roboto-slab);
}

.actions {
  margin-top: 14px;
}

.actions > button {
  font-family: var(--font-family-roboto-slab);
  font-weight: 300;
  color: #4386bf;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.removeBtn {
  padding: 4px 12px;
  border-right: 1px solid #e8e8e8 !important;
  border-left: 1px solid #e8e8e8 !important;
  margin: 0 12px;
}
